/* index.css */

/* Reset default margins/padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #141414, #000000); /* dark cinematic */
  color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: #e50914; /* Netflix red */
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover {
  background: #b20710;
}
